{% extends 'cloud/base.html' %}

{% block metadata %}
	<meta name="view_name" content="post_list">
{% endblock %}

{% block content %}
	<h2 name="count">Count: {{ posts.count }}</h2>
	{% for post in posts %}
		<div class="post">
			<div class="date">
				<p>{{ post.published_date }}</p>
			</div>
			<h1><a href="{% url 'cloud:post_detail' post_id=post.pk %}">{{ post.title }}</a></h1>
			<p>{{ post.text|linebreaksbr }}</p>
			Comments: {{ post.comments.count }}
		</div>
	{% endfor %}
{% endblock %}

